<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prefy">

    <application
        android:name=".ExampleApp"
        android:allowBackup="true"
        android:label="Prefy Example"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Option1Activity" />
        <activity android:name=".Option2Activity" />
    </application>
</manifest>